<div class="civa-info-annexe">

    <div class="civa-ia-header">
        <i class="fas fa-exclamation-circle"></i>
        <h3>Infos annexes importantes </h3>
        <span class="civa-ia-header-tag">info compl.</span>
    </div>
    <div class="civa-ia-body">
        <div class="civa-ia-info civa-ia-info-cliquable"><i class="fas fa-calendar"></i>Date de création : <em>2019-01-08</em></div>
        <div class="civa-ia-info"><i class="fas fa-star"></i>Exercice : <em>2019</em></div>
        <div class="civa-ia-info"><i class="fas fa-list"></i>No BC : <em>XXXXXXX</em></div>
        <div class="civa-ia-info">
            <i class="fas fa-check-circle" style="color:green"></i>Info suppl. :
            <div class="civa-ia-info-group">
                <div class="civa-ia-info">
                    <i class="fas fa-heart"></i>en couple
                </div>
                <div class="civa-ia-info  civa-ia-info-cliquable">
                    <i class="fas fa-id-card"></i>No Nat. : <em>2019-01-08</em>
                </div>
            </div>
        </div>
    </div>
    <div class="civa-ia-footer"></div>

</div>
