<div class="login-bg"></div>

<div class="login-body">

    <div class="login-panel animated fadeIn">

            <div class="logo-container">
                <img src="/assets/layout/images/civadis/civadis-dark.svg" class="logo">
                <img src="/assets/layout/images/civadis/icon-login.svg" class="login-icon">
                <h2 class="animated fadeInDown slow">Authentification</h2>
            </div>

            <div class="ui-civadis-gradiant">
                <div class="animated fadeInRight"></div>
                <div class="animated fadeInLeft"></div>
                <div class="animated fadeInRight"></div>
                <div class="animated fadeInLeft"></div>
            </div>

            <div class="form-login">

                <!--
                <div class="input-wrapper">
                    <input type="text" autocomplete="off" placeholder="Identifiant" autofocus>
                    <i class="fas fa-user"></i>
                </div>
                <div class="input-wrapper">
                    <input type="password" autocomplete="off" placeholder="Mot de passe">
                    <i class="fas fa-lock"></i>
                </div>
                <div class="input-wrapper">
                    <a href="">Mot de passe oublié ?</a>
                </div>
                -->

                <div class="button-container">
                    <button type="button" (click)="askLogin()" class="btn-connexion">
                        <span>Connexion</span>
                    </button>
                </div>
            </div>

    </div>

    <div class="login-panel ui-fluid shadow-paper"></div>

</div>

